In [44]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from datetime import datetime, timedelta
import time

In [55]:
data_dir = Path("../DNSTestTask/test_task/data/")

In [56]:
list(data_dir.iterdir())

[WindowsPath('../DNSTestTask/test_task/data/t_branches.csv'),
 WindowsPath('../DNSTestTask/test_task/data/t_cities.csv'),
 WindowsPath('../DNSTestTask/test_task/data/t_products.csv'),
 WindowsPath('../DNSTestTask/test_task/data/t_sales.csv')]

In [57]:
df_branches = pd.read_csv(data_dir / "t_branches.csv").drop("Unnamed: 0", axis="columns")
df_cities = pd.read_csv(data_dir / "t_cities.csv").drop("Unnamed: 0", axis="columns")
df_products = pd.read_csv(data_dir / "t_products.csv").drop("Unnamed: 0", axis="columns")
df_sales = pd.read_csv(data_dir / "t_sales.csv").drop("Unnamed: 0", axis="columns")

In [58]:
df_branches

,Ссылка,Наименование,Город,КраткоеНаименование,Регион
0,3841b923-ef12-11dc-bced-00151716f9f5,Кра Склад,2b042b0d-c493-11dc-bf69-00151716f9f5,Кра Склад,ДальнийВостокИВосточнаяСибирь
1,96fc76b4-7955-49ca-8d34-5b173b6f4b01,Улан-Удэ Корпоратив,4f7a40b0-6b0f-11dc-a590-00151716f9f5,Улан-Удэ Корпоратив,ДальнийВостокИВосточнаяСибирь
2,039ae664-7928-4ae4-abd0-935d24d1f642,яКиров Свободы,4186730a-779c-11e0-80d3-001517c526f0,свободы,ВерхнеВолжский
3,f60f5d7b-6ed8-431c-a020-ac50d6d8cd7e,яКазань Московский,55506b55-0565-11df-9cf0-00151716f9f5,ДНС Бытовой на Московском,ВерхнеВолжский
4,3dff0b25-9a0a-401e-9d05-0334cb21fe42,Белгород ТЦ Пассаж,ec54f012-3053-11e1-ae41-001517c526f0,"ТЦ ""Пассаж""",Черноземье
...,...,...,...,...,...
284,0508afa7-992b-11de-8bef-00151716f9f5,Чита Корпоратив,abd61be3-0f84-11de-8383-00151716f9f5,Чита Корпоратив,ДальнийВостокИВосточнаяСибирь
285,6358bdc3-83e7-4e19-8e7b-66ff81b985ec,Омск Корпоратив,ed377842-e7a8-11dd-aaaf-00151716f9f5,Омск Корпоратив,Сибирь
286,3665decf-b1c3-4dba-b3df-9cd665b6ea2e,Тула Корпоратив,c64ded12-080e-11e0-b1fe-001517c526f0,Тула Корпоратив,Черноземье
287,51ab3416-ddc9-44f2-ab5c-2c7e79eaa672,Самара Склад,55506b53-0565-11df-9cf0-00151716f9f5,Самара Склад,СреднеВолжский
288,c176556d-8bab-11de-b404-00151716f9f5,яБлаговещенск Зейская,ca246032-0759-11dc-95ee-00151716f9f5,"""На Зейской""",ДальнийВостокИВосточнаяСибирь

In [59]:
# [x.head(3) for x in [df_branches, df_cities, df_products, df_sales]]
df_branches.head(3)

,Ссылка,Наименование,Город,КраткоеНаименование,Регион
0,3841b923-ef12-11dc-bced-00151716f9f5,Кра Склад,2b042b0d-c493-11dc-bf69-00151716f9f5,Кра Склад,ДальнийВостокИВосточнаяСибирь
1,96fc76b4-7955-49ca-8d34-5b173b6f4b01,Улан-Удэ Корпоратив,4f7a40b0-6b0f-11dc-a590-00151716f9f5,Улан-Удэ Корпоратив,ДальнийВостокИВосточнаяСибирь
2,039ae664-7928-4ae4-abd0-935d24d1f642,яКиров Свободы,4186730a-779c-11e0-80d3-001517c526f0,свободы,ВерхнеВолжский

In [60]:
df_sales.head(3)

,Период,Филиал,Номенклатура,Количество,Продажа
0,2012-01-04 18:08:19,7080ffe3-e48e-46ab-882b-47d4d2146737,b90d9481-8766-11e0-bdeb-00155d030b07,1.0,485.0
1,2012-01-11 17:17:08,995135eb-2c57-11dd-900f-00151716f9f5,ce106c89-fe54-11de-b2fc-00151716f9f5,1.0,590.0
2,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa80-272b-11df-b750-001517c526f1,1.0,95.0

In [35]:
df_names_sales = df_sales.merge(right=df_products, left_on="Номенклатура", right_on="Ссылка").drop("Ссылка", axis="columns")
df_names_sales.head(3)

,Период,Филиал,Номенклатура,Количество,Продажа,Наименование
0,2012-01-04 18:08:19,7080ffe3-e48e-46ab-882b-47d4d2146737,b90d9481-8766-11e0-bdeb-00155d030b07,1.0,485.0,Память USB 2.0 Flash Verbatim 8 Gb Netbook/Black
1,2012-01-11 17:17:08,995135eb-2c57-11dd-900f-00151716f9f5,ce106c89-fe54-11de-b2fc-00151716f9f5,1.0,590.0,Память USB 2.0 Flash Transcend 8 Gb JetFlash 6...
2,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa80-272b-11df-b750-001517c526f1,1.0,95.0,Чернила Colouring для устройств Canon/Epson/HP...

In [ ]:
df_names_sales.merge()

In [ ]:
a = df_names_sales['Период']
# a.apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
df_names_sales['Период'] = pd.to_datetime(a, yearfirst=True)

In [ ]:
df_names_sales.columns = ["date_time", "branch", "product_uuid", "quantity", "sale", "product_name"]

In [37]:
df_names_sales["dates"] = df_names_sales["date_time"].dt.date

In [38]:
df_names_sales = df_names_sales[df_names_sales['quantity'] > 0]

In [39]:
df_names_sales['price_by_unit'] = df_names_sales['sale'] / df_names_sales['quantity']

In [41]:
df_names_sales.head()

,date_time,branch,product_uuid,quantity,sale,product_name,dates,price_by_unit
0,2012-01-04 18:08:19,7080ffe3-e48e-46ab-882b-47d4d2146737,b90d9481-8766-11e0-bdeb-00155d030b07,1.0,485.0,Память USB 2.0 Flash Verbatim 8 Gb Netbook/Black,2012-01-04,485.0
1,2012-01-11 17:17:08,995135eb-2c57-11dd-900f-00151716f9f5,ce106c89-fe54-11de-b2fc-00151716f9f5,1.0,590.0,Память USB 2.0 Flash Transcend 8 Gb JetFlash 6...,2012-01-11,590.0
2,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa80-272b-11df-b750-001517c526f1,1.0,95.0,Чернила Colouring для устройств Canon/Epson/HP...,2012-01-03,95.0
3,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa7f-272b-11df-b750-001517c526f1,1.0,95.0,Чернила Colouring для устройств Canon/Epson/HP...,2012-01-03,95.0
4,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa7d-272b-11df-b750-001517c526f1,1.0,95.0,Чернила Colouring для устройств Canon/Epson/HP...,2012-01-03,95.0

In [43]:
df_names_sales[(df_names_sales['sale'] > 1000) & (df_names_sales['quantity'] < 2)]

,date_time,branch,product_uuid,quantity,sale,product_name,dates,price_by_unit
6,2012-01-04 15:20:25,e57148a2-6080-418b-afb4-dd947e85d6da,06a42be5-fff7-11de-9cf0-00151716f9f5,1.0,5399.0,"Жесткий диск SATA-II 1,5Tb Western Digital Ca...",2012-01-04,5399.0
9,2012-01-04 11:37:19,5df69667-4876-4868-94a2-bfe03a533b67,4703d844-1b22-11e1-9d32-001517c526f0,1.0,2590.0,Память DIMM DDR3 2048MBx2 PC14400 1866MHz King...,2012-01-04,2590.0
10,2012-01-04 11:37:19,5df69667-4876-4868-94a2-bfe03a533b67,f26ed749-b182-11de-bd70-00151716f9f5,1.0,4699.0,Жесткий диск SATA-II 1Tb Samsung 7200 [HD103S...,2012-01-04,4699.0
13,2012-01-07 13:07:40,aa07cc40-1ce6-11de-93ad-00151716f9f5,499645fc-66f3-11e0-b057-001517c526f0,1.0,3290.0,Сотовый телефон Nokia C2-01 Warm Silver GSM/3G...,2012-01-07,3290.0
14,2012-01-07 16:03:07,c9fab144-31a7-4854-82dc-830994b16ff0,af6083b6-8108-11e0-8cec-00155d030b07,1.0,4490.0,Сотовый телефон Samsung GT-C3752 DuoS Grey GSM...,2012-01-07,4490.0
...,...,...,...,...,...,...,...,...
7964066,2012-04-22 12:00:33,99eaf294-e911-4f46-b06e-0f64613dda84,decb57c5-e728-11e0-967d-001517c526f0,1.0,1250.0,Маршрутизатор ASUS RT-G32 4x10/100Base-TX + 80...,2012-04-22,1250.0
7964072,2012-04-14 14:34:05,ff1e7ac0-344c-4722-a6f4-48045593531c,894bfd1f-417a-11e1-8064-001517c526f0,1.0,12150.0,"10.1"" Ноутбук Acer Aspire One AOD270-268ws/Whi...",2012-04-14,12150.0
7964077,2012-04-29 18:34:05,a760a8d0-fdce-47f8-8b4b-f772cd882206,2c525906-29fc-11e0-abc1-001517c526f0,1.0,1995.0,Маршрутизатор Zyxel Keenetic 4G 2x10/100Base-T...,2012-04-29,1995.0
7964078,2012-04-29 18:34:05,a760a8d0-fdce-47f8-8b4b-f772cd882206,7b6f4531-27b4-11e1-a0eb-001517c526f0,1.0,22999.0,"15.6"" Ноутбук Lenovo Y570 (59-313396)(HD) i3 2...",2012-04-29,22999.0
7964082,2012-04-29 14:33:55,449b6466-8302-4132-b238-db779df49660,350adf27-717f-11e1-b97c-001517c526f0,1.0,2999.0,"Радионяня Motorola MBP20 [видео и звук, 10 кан...",2012-04-29,2999.0

In [52]:
df_names_sales.groupby(["branch", "dates"]).sum('product_uuid')

                                                 quantity       sale  \
branch                               dates
01ca53bf-ff02-11dd-a0a4-00151716f9f5 2012-01-02      37.0     724.10
                                     2012-01-03     159.0    2000.82
                                     2012-01-04    4222.0  157715.64
                                     2012-01-05    1171.0   20872.01
                                     2012-01-06    1406.0   39246.44
...                                                   ...        ...
ffccc9eb-55b2-11db-acd3-00173147c81e 2012-04-26    1753.0   87537.96
                                     2012-04-27    1038.0   44513.68
                                     2012-04-28    1562.0  144760.90
                                     2012-04-29    1355.0  114131.76
                                     2012-04-30    1671.0  145496.79

                                                 price_by_unit
branch                               dates
01ca53bf-ff02-11dd-a0a4-00151716f9f5 2012-01-02         724.10
                                     2012-01-03        2000.82
                                     2012-01-04      157715.64
                                     2012-01-05       20872.01
                                     2012-01-06       39246.44
...                                                        ...
ffccc9eb-55b2-11db-acd3-00173147c81e 2012-04-26       87537.96
                                     2012-04-27       44513.68
                                     2012-04-28      144760.90
                                     2012-04-29      114131.76
                                     2012-04-30      145496.79

[27971 rows x 3 columns]